# Homework

The JFK International Airport is located within longitude -73.82 to -73.78 and latitude 40.63 and 40.67. Extract all taxi trips who picked up passengers from this area.

1. For this sub-dataset only, visualize the correlation between aerial distance and the trip duration
2. For this sub-dataset only, visualize the drop-off location using dropoff_longitude and dropoff_latitude.
3. There was a snow storm on Jan 23, 2016. Is the distribution of trip_duration on that day different from the rest of the year?

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
taxidata = pd.read_csv("../Data/nyctaxi/train.csv", delimiter=",")

In [3]:
taxidata.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [4]:
print("Shape: ", taxidata.shape)

Shape:  (1458644, 11)

In [5]:
print("Feature names: ", ", ".join(taxidata.columns))

Feature names:  id, vendor_id, pickup_datetime, dropoff_datetime, passenger_count, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, store_and_fwd_flag, trip_duration

In [6]:
print("Data types: ", taxidata.dtypes)

Data types:  id                     object
vendor_id               int64
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
pickup_longitude      float64
pickup_latitude       float64
dropoff_longitude     float64
dropoff_latitude      float64
store_and_fwd_flag     object
trip_duration           int64
dtype: object

In [7]:
taxidata['pickup_datetime'] = taxidata['pickup_datetime'].astype(np.datetime64)

In [8]:
taxidata['dropoff_datetime'] = taxidata['dropoff_datetime'].astype(np.datetime64)

In [9]:
print("Data Types: ", taxidata.dtypes)

Data Types:  id                            object
vendor_id                      int64
pickup_datetime       datetime64[ns]
dropoff_datetime      datetime64[ns]
passenger_count                int64
pickup_longitude             float64
pickup_latitude              float64
dropoff_longitude            float64
dropoff_latitude             float64
store_and_fwd_flag            object
trip_duration                  int64
dtype: object

In [10]:
pd.isnull(taxidata).sum()

id                    0
vendor_id             0
pickup_datetime       0
dropoff_datetime      0
passenger_count       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude     0
dropoff_latitude      0
store_and_fwd_flag    0
trip_duration         0
dtype: int64

In [11]:
taxidata.describe()

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration
count,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06
mean,1.534950e+00,1.664530e+00,-7.397349e+01,4.075092e+01,-7.397342e+01,4.075180e+01,9.594923e+02
std,4.987772e-01,1.314242e+00,7.090186e-02,3.288119e-02,7.064327e-02,3.589056e-02,5.237432e+03
min,1.000000e+00,0.000000e+00,-1.219333e+02,3.435970e+01,-1.219333e+02,3.218114e+01,1.000000e+00
25%,1.000000e+00,1.000000e+00,-7.399187e+01,4.073735e+01,-7.399133e+01,4.073588e+01,3.970000e+02
50%,2.000000e+00,1.000000e+00,-7.398174e+01,4.075410e+01,-7.397975e+01,4.075452e+01,6.620000e+02
75%,2.000000e+00,2.000000e+00,-7.396733e+01,4.076836e+01,-7.396301e+01,4.076981e+01,1.075000e+03
max,2.000000e+00,9.000000e+00,-6.133553e+01,5.188108e+01,-6.133553e+01,4.392103e+01,3.526282e+06

### The JFK international airport is located within longitude -73.82 to -73.78 and latitude 40.63 to 40.67. Extract all taxi trips who picked up passengers from this area.

In [12]:
jfk_long_trips = (taxidata['pickup_longitude'] >= -73.82) & (taxidata['pickup_longitude'] <= -73.78)
jfk_subdata = taxidata[jfk_long_trips]
                                                                      
jfk_lat_trips = (jfk_subdata['pickup_latitude'] >= 40.63) & (jfk_subdata['pickup_latitude'] <= 40.67)
jfk_subdata = jfk_subdata[jfk_lat_trips]

print(jfk_subdata.shape)
jfk_subdata.head()

(25736, 11)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
55,id3827863,2,2016-04-19 11:29:08,2016-04-19 12:27:56,3,-73.792892,40.657879,-73.809189,40.690182,N,3528
86,id0283075,1,2016-04-06 23:42:26,2016-04-07 00:12:08,1,-73.782478,40.644646,-73.981125,40.720886,N,1782
98,id2102594,1,2016-03-30 16:14:29,2016-03-30 17:01:33,1,-73.789841,40.643559,-73.970665,40.687279,N,2824
102,id0105610,1,2016-02-19 20:01:24,2016-02-19 20:35:49,3,-73.789719,40.643707,-73.978699,40.750343,N,2065
104,id3508035,2,2016-06-06 20:13:56,2016-06-06 20:45:20,6,-73.788132,40.641460,-73.971771,40.749409,N,1884

### 1. For this sub-dataset only, visualize the correlation between the aerial distance and the trip duration.

In [13]:
jfk_subdata["aerial_distance"] = np.sqrt( ((jfk_subdata['pickup_longitude'] - jfk_subdata['dropoff_longitude']) ** 2) - ((jfk_subdata['pickup_latitude'] - jfk_subdata['dropoff_latitude']) ** 2))

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:853: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [14]:
plt.scatter(jfk_subdata['aerial_dist'], jfk_subdata['trip_duration'], alpha=0.005)
plt.xlim(0, 0.5)

KeyError: 'aerial_dist'