# Homework
Use the cell phone usage data in this exercise.

1. Find out the network names that belongs to network_type "mobile".
2. How many messages were sent to each mobile network every month?
3. What is the total call duration to each mobile network every month?

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Load data
# https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/
url = "https://shanelynnwebsite-mid9n9g1q9y8tt.netdna-ssl.com/wp-content/uploads/2015/06/phone_data.csv"
# data = pd.read_csv(url, delimiter=",")
data = pd.read_csv(url, delimiter=",", index_col='index')
print(data.shape)
data.head(10)

(830, 6)

                 date  duration  item    month    network network_type
index
0      15/10/14 06:58    34.429  data  2014-11       data         data
1      15/10/14 06:58    13.000  call  2014-11   Vodafone       mobile
2      15/10/14 14:46    23.000  call  2014-11     Meteor       mobile
3      15/10/14 14:48     4.000  call  2014-11      Tesco       mobile
4      15/10/14 17:27     4.000  call  2014-11      Tesco       mobile
5      15/10/14 18:55     4.000  call  2014-11      Tesco       mobile
6      16/10/14 06:58    34.429  data  2014-11       data         data
7      16/10/14 15:01   602.000  call  2014-11      Three       mobile
8      16/10/14 15:12  1050.000  call  2014-11      Three       mobile
9      16/10/14 15:30    19.000  call  2014-11  voicemail    voicemail

1. Find out the network names that belongs to network_type "mobile".

In [3]:
net_names = data["network_type"] == "mobile"
data[net_names]["network"].unique()

array(['Vodafone', 'Meteor', 'Tesco', 'Three'], dtype=object)

2. How many messages were sent to each mobile network every month?

In [4]:
subdata = data[data["item"] == "sms"]
subdata["network"].value_counts()

Vodafone    149
Three        87
Meteor       33
Tesco        13
world         7
special       3
Name: network, dtype: int64

3. What is the total call duration to each mobile network every month?

In [5]:
total_call = data["item"] == "call"
data[total_call & net_names].groupby("network").sum()["duration"]

network
Meteor       7200.0
Tesco       13828.0
Three       36464.0
Vodafone    14621.0
Name: duration, dtype: float64