# Chapter 6 Data Loading, Storage, and File Formats

Accessing data is a necessary first step for most data science projects. From this chapter we will learn:
- Reading and writing data in text format (.txt, .csv, .json)
- Reading data from webpages (web scrapping)
- Reading and writing data in binary format (.pickle, .feather, .h5)
- Interacting with databases

## I. Reading and Writing Data in Text Format

### 1. csv file

In [1]:
# Let's create a data frame first
import numpy as np
import pandas as pd

values = np.array([
    [100, 80, 95, 'A'],
    [55, 60, 45, 'F'],
    [70, 75, 90, 'A'],
    [75, 70, 60, 'D'],
    [60, 73, 75, 'C'],
    [72, 63, -1, 'NA']
])
df = pd.DataFrame(values,
                   columns=['Midterm', 'Project', 'Final', 'LetterGrade'],
                   index=['Alex', 'Bob', 'Chris', 'Doug', 'Eva', "Frank"])
df

      Midterm Project Final LetterGrade
Alex      100      80    95           A
Bob        55      60    45           F
Chris      70      75    90           A
Doug       75      70    60           D
Eva        60      73    75           C
Frank      72      63    -1          NA

In [2]:
# Write to a csv file using .to_csv()
import os
print('Does path "../../Data/temp/" exist?', os.path.exists("../../Data/temp/"))

if not os.path.exists("../../Data/temp/"):
    os.mkdir("../../Data/temp")
    print('File path "../../Data/temp/" created.')

df.to_csv("../../Data/temp/grades.csv")

Does path "../../Data/temp/" exist? False
File path "../../Data/temp/" created.

In [3]:
# Load the csv file
df2 = pd.read_csv("../../Data/temp/grades.csv", delimiter=",")
df2

  Unnamed: 0  Midterm  Project  Final LetterGrade
0       Alex      100       80     95           A
1        Bob       55       60     45           F
2      Chris       70       75     90           A
3       Doug       75       70     60           D
4        Eva       60       73     75           C
5      Frank       72       63     -1         NaN

In [4]:
# Load only the first 3 rows
df3 = pd.read_csv("../../Data/temp/grades.csv", delimiter=',', nrows=3)
df3

  Unnamed: 0  Midterm  Project  Final LetterGrade
0       Alex      100       80     95           A
1        Bob       55       60     45           F
2      Chris       70       75     90           A

In [5]:
# Load the file, skipping row 2 and 4
df4 = pd.read_csv("../../Data/temp/grades.csv", delimiter=',', skiprows=[2, 4])
df4

  Unnamed: 0  Midterm  Project  Final LetterGrade
0       Alex      100       80     95           A
1      Chris       70       75     90           A
2        Eva       60       73     75           C
3      Frank       72       63     -1         NaN

In [6]:
# Remove column headers from the csv file, then load it
df5 = pd.read_csv("../../Data/temp/grades.csv", header=None, names=['Name', 'Midterm', 'Project', 'Final', 'LetterGrade'])
# df5 = pd.read_csv("Data/temp/grades.csv", delimiter=',', header=None, names=[1, 2, 3, 4, 5])
df5

    Name  Midterm  Project  Final  LetterGrade
0    NaN  Midterm  Project  Final  LetterGrade
1   Alex      100       80     95            A
2    Bob       55       60     45            F
3  Chris       70       75     90            A
4   Doug       75       70     60            D
5    Eva       60       73     75            C
6  Frank       72       63     -1          NaN

In [7]:
# Set first column as index
df6 = pd.read_csv("../../Data/temp/grades.csv", delimiter=',', index_col=0)
df6

       Midterm  Project  Final LetterGrade
Alex       100       80     95           A
Bob         55       60     45           F
Chris       70       75     90           A
Doug        75       70     60           D
Eva         60       73     75           C
Frank       72       63     -1         NaN

In [8]:
# Identify -1 as NaN
df7 = pd.read_csv("../../Data/temp/grades.csv", delimiter=',', na_values=[-1])
df7

  Unnamed: 0  Midterm  Project  Final LetterGrade
0       Alex      100       80   95.0           A
1        Bob       55       60   45.0           F
2      Chris       70       75   90.0           A
3       Doug       75       70   60.0           D
4        Eva       60       73   75.0           C
5      Frank       72       63    NaN         NaN

### 2. Load txt file with values separated by spaces

In [9]:
with open("../../Data/temp/values.txt", 'w') as file:
    file.write("Index Category     Value\n")
    file.write("1            A      2.92\n")
    file.write("2            B     12.14\n")
    file.write("3            C    123.56\n")

In [10]:
# Although read_csv() is still applicable, setting delimiter to a single space will create errors
df = pd.read_csv("../../Data/temp/values.txt", delimiter=" ")
df

,,,,,,,,,,,,Index,Category,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Value
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN,2.92
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,NaN,NaN,NaN,NaN,12.14,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,123.56,NaN,NaN

In [11]:
df = pd.read_csv("../../Data/temp/values.txt", delimiter="\s+")
df

   Index Category   Value
0      1        A    2.92
1      2        B   12.14
2      3        C  123.56

### 3. Load JSON files

**JavaScript Object Notation (JSON)** is a popular file format to storing unstructured data because it is easy for both human and computer to understand.
- Its structure is very similar to Python dictionary
- Load a json file with json.leads()
- Writes to a json file with json.dump()

In [12]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [13]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [14]:
?result

In [15]:
asjson = json.dumps(result)

In [16]:
# Use json.fump(object, file) to write the content of object to file
with open("../../Data/temp/People.json", 'w') as file:
    json.dump(result, file)

In [17]:
# Load from People.json
with open("../../Data/temp/People.json", "r") as file:
    people = json.load(file)
people

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [18]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age', 'pets'])
siblings

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]

## II. Web Scrapping
When performing data science tasks, it's common to want to use data found on the internet. You'll usually be able to access the data in csv format, or via an Application Programming Interface (API). However, there are times when the data you want can only be accessed as part of a web page. In cases like this, you'll want to use a technique called **web scraping** to get the data from the web page into a format you can work with in your analysis.

In [19]:
# Download a webpage
import requests
page = requests.get("http://dataquestio.github.io/web-scraping-pages/simple.html")
page #2** status code usually means successful download

In [20]:
# Show what is downloaded
print(page.content)

b'<!DOCTYPE html>\n<html>\n    <head>\n        <title>A simple example page</title>\n    </head>\n    <body>\n        <p>Here is some simple content for this page.</p>\n    </body>\n</html>'

We will use **beautifulsoup** library to extract useful information from the html script.

In [21]:
from bs4 import BeautifulSoup

In [22]:
soup = BeautifulSoup(page.content, 'html.parser')
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   A simple example page
  </title>
 </head>
 <body>
  <p>
   Here is some simple content for this page.
  </p>
 </body>
</html>

In [23]:
# using the children attribute to select all the top-level tags
list(soup.children)

['html', '\n', <html>
 <head>
 <title>A simple example page</title>
 </head>
 <body>
 <p>Here is some simple content for this page.</p>
 </body>
 </html>]

In [24]:
# type of each children
print([type(item) for item in list(soup.children)])

[<class 'bs4.element.Doctype'>, <class 'bs4.element.NavigableString'>, <class 'bs4.element.Tag'>]

In [25]:
# select the html tag and its children by taking the third item in the list:
html = list(soup.children)[2]
print(html)

<html>
<head>
<title>A simple example page</title>
</head>
<body>
<p>Here is some simple content for this page.</p>
</body>
</html>

In [26]:
print('\n'.join([str(idx) + str(item) for idx, item in enumerate(list(html.children))]))

0

1<head>
<title>A simple example page</title>
</head>
2

3<body>
<p>Here is some simple content for this page.</p>
</body>
4

In [27]:
len(list(html.children))

5

In [28]:
print([type(item) for item in list(html.children)])

[<class 'bs4.element.NavigableString'>, <class 'bs4.element.Tag'>, <class 'bs4.element.NavigableString'>, <class 'bs4.element.Tag'>, <class 'bs4.element.NavigableString'>]

In [29]:
body = list(html.children)[3]
print(body)

<body>
<p>Here is some simple content for this page.</p>
</body>

In [30]:
print(list(body.children))

['\n', <p>Here is some simple content for this page.</p>, '\n']

In [31]:
p = list(body.children)[1]
print(p)

<p>Here is some simple content for this page.</p>

In [32]:
p.get_text()

'Here is some simple content for this page.'

#### FInding all instances of a tag at once

In [33]:
soup = BeautifulSoup(page.content, 'html.parser')
soup.find_all('p')

In [34]:
soup.find_all('p')[0].get_text()

'Here is some simple content for this page.'

In [35]:
# Find the first instance of a tag
soup.find('p')

#### Searching for tags by class and id

In [36]:
# Let's look at another webpage with classes and id's
page = requests.get("http://dataquestio.github.io/web-scraping-pages/ids_and_classes.html")
soup = BeautifulSoup(page.content, 'html.parser')
soup

<html>
<head>
<title>A simple example page</title>
</head>
<body>
<div>
<p class="inner-text first-item" id="first">
                First paragraph.
            </p>
<p class="inner-text">
                Second paragraph.
            </p>
</div>
<p class="outer-text first-item" id="second">
<b>
                First outer paragraph.
            </b>
</p>
<p class="outer-text">
<b>
                Second outer paragraph.
            </b>
</p>
</body>
</html>

In [37]:
# Find all tags of a class
soup.find_all(class_="outer-text")

[<p class="outer-text first-item" id="second">
 <b>
                 First outer paragraph.
             </b>
 </p>, <p class="outer-text">
 <b>
                 Second outer paragraph.
             </b>
 </p>]

In [38]:
soup.find_all(id="first")

[<p class="inner-text first-item" id="first">
                 First paragraph.
             </p>]

In [39]:
soup.find_all('p')

[<p class="inner-text first-item" id="first">
                 First paragraph.
             </p>, <p class="inner-text">
                 Second paragraph.
             </p>, <p class="outer-text first-item" id="second">
 <b>
                 First outer paragraph.
             </b>
 </p>, <p class="outer-text">
 <b>
                 Second outer paragraph.
             </b>
 </p>]

#### Downloading the weather data
1. Open the [weather forecast page](https://forecast.weather.gov/MapClick.php?lat=40.7146&lon=-74.0071#.Xbc5aXVKhhE)
2. Display the source code (On Chrome use "Developer Tools")
3. Identify the item containing data (On Chrome right click the values and select "Inspect")

In [40]:
page = requests.get("https://forecast.weather.gov/MapClick.php?lat=40.7146&lon=-74.0071#.Xbc5aXVKhhE")
soup = BeautifulSoup(page.content, 'html.parser')
seven_day = soup.find(id="seven-day-forecast")
# print(len(seven_day))
# print(seven_day)
forecast_items = seven_day.find_all(class_="tombstone-container")
# print(len(forecast_items))
# print(forecast_items)
tonight = forecast_items[0]
print(tonight.prettify())

<div class="tombstone-container">
 <p class="period-name">
  Overnight
  <br/>
  <br/>
 </p>
 <p>
  <img alt="Overnight: Mostly cloudy, with a steady temperature around 35. Wind chill values between 30 and 35. Southwest wind around 8 mph. " class="forecast-icon" src="newimages/medium/nbkn.png" title="Overnight: Mostly cloudy, with a steady temperature around 35. Wind chill values between 30 and 35. Southwest wind around 8 mph. "/>
 </p>
 <p class="short-desc">
  Mostly Cloudy
 </p>
 <p class="temp temp-low">
  Low: 35 °F
 </p>
</div>

In [41]:
# Find today's weather
period = tonight.find(class_="period-name").get_text()
short_desc = tonight.find(class_="short-desc").get_text()
temp = tonight.find(class_="temp").get_text()
print(period)
print(short_desc)
print(temp)

Overnight
Mostly Cloudy
Low: 35 °F

In [42]:
# Find weather forecast for the week
period_tags = seven_day.select(".tombstone-container .period-name")
periods = [pt.get_text() for pt in period_tags]
periods

['Overnight',
 'Friday',
 'FridayNight',
 'Saturday',
 'SaturdayNight',
 'Sunday',
 'SundayNight',
 'Monday',
 'MondayNight']

In [43]:
short_descs = [sd.get_text() for sd in seven_day.select(".tombstone-container .short-desc")]
temps = [t.get_text() for t in seven_day.select(".tombstone-container .temp")]
descs = [d["title"] for d in seven_day.select(".tombstone-container img")]
print(short_descs)
print(temps)
print(descs)

['Mostly Cloudy', 'Slight ChanceLight Rainthen MostlyCloudy', 'PatchyDrizzle andPatchy Fog', 'Slight ChanceShowers andAreas Fog', 'ChanceShowers andAreas Fog', 'ShowersLikely andBreezy', 'Partly Cloudy', 'Partly Sunny', 'Partly Cloudy']
['Low: 35 °F', 'High: 53 °F', 'Low: 51 °F', 'High: 61 °F', 'Low: 56 °F', 'High: 65 °F', 'Low: 44 °F', 'High: 49 °F', 'Low: 40 °F']
['Overnight: Mostly cloudy, with a steady temperature around 35. Wind chill values between 30 and 35. Southwest wind around 8 mph. ', 'Friday: A slight chance of drizzle or light rain between 9am and noon.  Mostly cloudy, with a high near 53. Wind chill values between 30 and 40 early. Southwest wind 9 to 11 mph.  Chance of precipitation is 20%.', 'Friday Night: Patchy drizzle and fog with a slight chance of light rain, mainly after 3am.  Cloudy, with a steady temperature around 51. Southwest wind 7 to 9 mph. ', 'Saturday: A 20 percent chance of showers.  Areas of fog.  Otherwise, mostly cloudy, with a high near 61. South wind 10 to 15 mph. ', 'Saturday Night: A 50 percent chance of showers.  Areas of fog.  Otherwise, mostly cloudy, with a low around 56. South wind 14 to 18 mph. ', 'Sunday: Showers likely.  Cloudy through mid morning, then gradual clearing, with a high near 65. Breezy.  Chance of precipitation is 70%. New precipitation amounts of less than a tenth of an inch possible. ', 'Sunday Night: Partly cloudy, with a low around 44.', 'Monday: Partly sunny, with a high near 49.', 'Monday Night: Partly cloudy, with a low around 40.']

In [44]:
# Load the weather data as a data frame
import pandas as pd
weather = pd.DataFrame({
    "period": periods,
    "short_desc": short_descs,
    "temp": temps,
    "desc":descs
})
weather

,period,short_desc,temp,desc
0,Overnight,Mostly Cloudy,Low: 35 °F,"Overnight: Mostly cloudy, with a steady temper..."
1,Friday,Slight ChanceLight Rainthen MostlyCloudy,High: 53 °F,Friday: A slight chance of drizzle or light ra...
2,FridayNight,PatchyDrizzle andPatchy Fog,Low: 51 °F,Friday Night: Patchy drizzle and fog with a sl...
3,Saturday,Slight ChanceShowers andAreas Fog,High: 61 °F,Saturday: A 20 percent chance of showers. Are...
4,SaturdayNight,ChanceShowers andAreas Fog,Low: 56 °F,Saturday Night: A 50 percent chance of showers...
5,Sunday,ShowersLikely andBreezy,High: 65 °F,Sunday: Showers likely. Cloudy through mid mo...
6,SundayNight,Partly Cloudy,Low: 44 °F,"Sunday Night: Partly cloudy, with a low around..."
7,Monday,Partly Sunny,High: 49 °F,"Monday: Partly sunny, with a high near 49."
8,MondayNight,Partly Cloudy,Low: 40 °F,"Monday Night: Partly cloudy, with a low around..."

In [45]:
weather.dtypes

period        object
short_desc    object
temp          object
desc          object
dtype: object

In [46]:
# extract numeric temperature
temp_nums = weather["temp"].str.extract("(?P<temp_num>\d+)", expand=False)
weather["temp_num"] = temp_nums.astype('int')
weather

,period,short_desc,temp,desc,temp_num
0,Overnight,Mostly Cloudy,Low: 35 °F,"Overnight: Mostly cloudy, with a steady temper...",35
1,Friday,Slight ChanceLight Rainthen MostlyCloudy,High: 53 °F,Friday: A slight chance of drizzle or light ra...,53
2,FridayNight,PatchyDrizzle andPatchy Fog,Low: 51 °F,Friday Night: Patchy drizzle and fog with a sl...,51
3,Saturday,Slight ChanceShowers andAreas Fog,High: 61 °F,Saturday: A 20 percent chance of showers. Are...,61
4,SaturdayNight,ChanceShowers andAreas Fog,Low: 56 °F,Saturday Night: A 50 percent chance of showers...,56
5,Sunday,ShowersLikely andBreezy,High: 65 °F,Sunday: Showers likely. Cloudy through mid mo...,65
6,SundayNight,Partly Cloudy,Low: 44 °F,"Sunday Night: Partly cloudy, with a low around...",44
7,Monday,Partly Sunny,High: 49 °F,"Monday: Partly sunny, with a high near 49.",49
8,MondayNight,Partly Cloudy,Low: 40 °F,"Monday Night: Partly cloudy, with a low around...",40

In [47]:
# Identify day temperature from night temperature
is_night = weather["temp"].str.contains("Low")
weather["is_night"] = is_night
is_night

0     True
1    False
2     True
3    False
4     True
5    False
6     True
7    False
8     True
Name: temp, dtype: bool

In [48]:
weather[is_night]

,period,short_desc,temp,desc,temp_num,is_night
0,Overnight,Mostly Cloudy,Low: 35 °F,"Overnight: Mostly cloudy, with a steady temper...",35,True
2,FridayNight,PatchyDrizzle andPatchy Fog,Low: 51 °F,Friday Night: Patchy drizzle and fog with a sl...,51,True
4,SaturdayNight,ChanceShowers andAreas Fog,Low: 56 °F,Saturday Night: A 50 percent chance of showers...,56,True
6,SundayNight,Partly Cloudy,Low: 44 °F,"Sunday Night: Partly cloudy, with a low around...",44,True
8,MondayNight,Partly Cloudy,Low: 40 °F,"Monday Night: Partly cloudy, with a low around...",40,True

In [49]:
# Get new headlines from New York Times?
# Get current stock prices?
# Monitor alarms?;
# Download files?